* {
    padding: 0;
    margin: 0;
}
html, body {
    background-color: #45BC39;
}
.button {
    padding: 10px;
    background-color: #AE9292;
    color: white;
    width: 120px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
#wrapper {
    margin: 30px auto;
    width: 100px;
}